    ROBOTNAME:
        privileged: true
        ports:
            - 'PORT:PORT'
            - '11311:11311'
        volumes:
            - './.env:/code/scripts/.env'
            - './.env:/code/diarc/.env'
            - '/etc/localtime:/etc/localtime:ro'
            - './docker_scripts/start_code.sh:/code/scripts/start_code.sh'
            - ROS_TMP:/catkin_ws/src/unity_ros/launch/startup_pr2_docker.launch
            - './logs/TIMESTAMP-PORT-diarc/:/code/diarc/logs/'
            - './logs/TIMESTAMP-PORT-ros/:/root/.ros/log/'
            - './share/pr2_navigation_global/move_base.xml:/opt/ros/indigo/share/pr2_navigation_global/move_base.xml'
            - './share/pr2_2dnav/launch/pr2_2dnav.launch:/opt/ros/indigo/share/pr2_2dnav/launch/pr2_2dnav.launch'
            - './cache:/root/.diarc'
            - './config/gradle/gradle.properties:/root/gradle.properties'
        ulimits:
            rtprio: 99
        image: hrilabtufts/unity_space_station
        command: /bin/bash start_code.sh
