    ROBOTNAME:
        privileged: true
        ports:
            - 'ROSPORT:9090'
        expose:
            - '10001'
        environment:
            - DIARC_ENVIRONMENT=development
            - DIARC_ROBOT=ROBOTNAME
            - UNITY_PORT=UNITYPORT
            - LLM=LLMURL
        volumes:
            - './.env:/code/scripts/.env'
            - './.env:/code/diarc/.env'
            - '/etc/localtime:/etc/localtime:ro'
            - './docker_scripts/start_code.sh:/code/scripts/start_code.sh'
            - ROS_TMP:/catkin_ws/src/unity_ros/launch/startup_pr2_docker.launch
            - DIARC_SRC:/code/diarc/
            - './logs/TIMESTAMP-ROSPORT-diarc/:/root/diarc_logs/'
            - './logs/TIMESTAMP-ROSPORT-ros/:/root/.ros/log/'
            - './share/pr2_navigation_global/move_base.xml:/opt/ros/indigo/share/pr2_navigation_global/move_base.xml'
            - './share/pr2_2dnav/launch/pr2_2dnav.launch:/opt/ros/indigo/share/pr2_2dnav/launch/pr2_2dnav.launch'
            - './cache:/root/.diarc'
            - 'GRADLE_PROPERTIES:/root/gradle.properties'
            - 'TRADE_PROPERTIES:/root/trade.properties'
            - './config/diarc/logback.xml:/root/logback.xml'
        ulimits:
            rtprio: 99
        image: hrilabtufts/unity_space_station
        command: /bin/bash start_code.sh
        networks:
            diarc_space_station:
                ipv4_address: ROBOT_IP
