<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <import class="ch.qos.logback.core.FileAppender"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder class="PatternLayoutEncoder">
      <pattern>>%d{HH:mm:ss.SSS} %highlight(%-5level) %gray(%logger{0}) -%kvp- %msg%n%xEx</pattern>
    </encoder>
  </appender>
  <appender name="File" class="ch.qos.logback.core.FileAppender">
    <file>/root/diarc_logs/diarc.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} -%kvp- %msg%n%xEx</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="Console"/>
    <appender-ref ref="File"/>
  </root>
  <logger name="edu.tufts.hrilab.unity.UnityComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.unity.UnityAgent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.tf.TFComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.movebase.MoveBaseComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.movebase.MoveBase" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.parsing.hybrid.HybridParserComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.parsing.llm.LLMParserComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.parsing.cache.CachedParserComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.parsing.cache.CacheDatabase" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.nlg.NLG" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.slug.nlg.SimpleNLGComponent" level="DEBUG"/>
  <logger name="edu.tufts.hrilab.unity.space_station.nlg.UnitySpaceStationNLGComponent" level="DEBUG"/>
</configuration>
